@use "../../styles/variables";

main {
    background-image: linear-gradient(#00000085, #00000085), url(../hero-image-transformed.png);
    background-size:cover;
    background-position:bottom;
    min-height:95svh;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                max-width:12ch;
                text-align:center;
                line-height:1;
            }
            button {
                font-family:fancy;
                background-color:transparent;
                border:none;
                color:white;
                font-size:variables.$text;
                margin-block-start:6rem;
               
                position:relative;
                width:max-content;
                place-self:center;
                cursor:pointer;

                &::before {
                    content:"";
                    font-size:variables.$text;
                    border-left:1px solid white;
                    border-top:1px solid white;
                    border-bottom:1px solid white;
                    border-right:none;
                    width:5rem;
                    height:5rem;
                    aspect-ratio:1;
                    position:absolute;
                    border-radius:50%;
                    left:-2.5rem;
                    top:-2.5rem;
                }
            }
        }
    }
}