@use "./variables";

h1 {
    font-size:variables.$h1;
    line-height:1.1;
    color:white;
    font-family:fancy;

    @media (max-width:1024px) {
        font-size:clamp(66px, 10vw, variables.$h1)
    }
    @media (max-width:500px) {
        //comment
        font-size:clamp(48px, 12vw, 66px);
    }

}