@use './variables' as *;

h1 {
    font-size: $h1;
    line-height: 1;
    color: white;
    font-family: fancy;
    text-align: center;

    @media (max-width: 600px) {
        font-size: $mobile-h1;
    }
}

h2 {
    font-size: $h2;
    line-height: 1.2;
    color: $black;
    font-family: fancy;
    text-align: center;

    @media (max-width: 600px) {
        font-size: $mobile-h2;
    }
}

h3 {
    font-size: $h3;
    line-height: 1.3;
    color: $black;
    font-family: fancy;
    text-align: center;

    @media (max-width: 600px) {
        font-size: $mobile-h3;
    }
}
p {
    line-height: 1.6;
    font-weight: 300;
    font-size: $text;

    &.tagline {
        color: $gold;
        font-size: $tagline;
        line-height: 1;
        font-family: fancy;
    }

    @media (max-width: 600px) {
        font-size: $mobile-text;
    }
}
