@use './variables' as *;
@use './fonts';

main {
    background-image: linear-gradient(#00000085, #00000085),
        url(../public/images/hero-image-transformed.png);
    background-size: cover;
    background-position: bottom;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p:not(.tagline) {
            color: white;
            text-align: center;
            font-weight: 300;
        }
        h1 {
            max-width: 32ch;
        }
    }
}
