$gold: #e2bc6f;
$dark-blue: #21596c;
$light-blue: #cee4ec;
$black: #111111;
$white: #ffffff;
$h1: 96px;
$mobile-h1: 48px;
$h2: 48px;
$mobile-h2: 32px;
$h3: 24px;
$mobile-h3: 20px;
$tagline: 18px;
$mobile-tagline: 16px;
$text: 16px;
$mobile-text: 14px;
